*{
  margin:0;
  border:0;
}

html{
  font-size:62.5%;
}

video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.container{
  position: absolute;
  top:4rem;
  left:4rem;
}

.app-red{
  font-size:5rem;
  color:#8D265D;
  margin-bottom:5rem;
}

.app-red-no-bottom{
  font-size:5rem;
  color:#8D265D;

}






.app-form-red{
  color:white;
  background:#81CEC8;
  background:url("red_team_bg.png");
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  font-size:10rem;
  height:20rem;
  border:none;

}

.mag{
  margin-bottom:5rem;
}

.app-blue{
  font-size:5rem;
  color:#81CEC8;
  margin-bottom: 5rem;

}

.app-blue-no-bottom{
  font-size:5rem;
  color:#81CEC8;

}



.app-form-blue{
  color:white;
  background:#81CEC8;
  background:url("blue_team_bg.png");
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  font-size:10rem;
  height:20rem;
  border:none;
 
}




.app-player{
  text-align: left;
 
  margin-bottom: 2vh;
  width:100%;
  
}

.app-bg-text{
  
  background-size: cover;

  background-position: center;
  width:100%;
  height:100%;
  height:7vh;
  text-align: center;

  padding-bottom: 1vh;
  font-size:3rem;
  animation: showup 1s ease-in-out; 
}

.app-bg-score__blue{
  background: url("./blue_bg.png");
  background-size: cover;
  background-position: center;
  width:100%;
  height:7vh;
  text-align: right;
  
  padding-top:1vh;
  padding-bottom: 1vh;
  font-size:3.5rem;
  color:white;
  animation: showup 1s ease-in-out; 
    
}

.app-bg-score__red{
  background: url("./red_bg.png");
  background-size: cover;
  background-position: center;
  width:100%;
  height:7vh;
  text-align: right;
  
  padding-top:1vh;
  padding-bottom: 1vh;
  font-size:3.5rem;
  color:white;
  opacity: 1;
  animation: showup 1s ease-in-out; 


}

.shadow-red{
  



  text-shadow: 0 1px 0 pink, 
                 0 2px 0 #8D265D,
                 0 3px 0 #bbb,
                 0 4px 0 red,
                 0 5px 0 #8D265D,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

.shadow-blue{
  



  text-shadow: 0 1px 0 blue, 
                 0 2px 0 #81CEC8,
                 0 3px 0 #bbb,
                 0 4px 0 darkblue,
                 0 5px 0 #81CEC8,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

@keyframes showup {
  from {

    opacity: 0;
    
  }

  to {

    opacity: 1;
    
  }
}

.text-center{
  text-align: center !important;
}

.app-player{

  text-align: center;
  font-size:3.5rem;
  color:white;
}

.padding-left{
  padding-left:5%;
  padding-right:5%;
  padding-top:5%;
  padding-bottom:5%;
}







