*{
  margin:0;
  border:0;
}

html{
  font-size:62.5%;
}

video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.container{
  position: absolute;
  top:4rem;
  left:4rem;
}

.app-red{
  font-size:5rem;
  color:#8D265D;
  margin-bottom:5rem;
}

.app-form-red{
  color:white;
  background:#81CEC8;
  background:url("red_team_bg.png");
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  font-size:10rem;
  height:20rem;
  border:none;
  margin-bottom:10rem;
}


.app-blue{
  font-size:5rem;
  color:#81CEC8;
  margin-bottom:5rem;
}

.app-form-blue{
  color:white;
  background:#81CEC8;
  background:url("blue_team_bg.png");
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  font-size:10rem;
  height:20rem;
  border:none;
  margin-bottom:10rem;
}




.app-player{
  text-align: left;
 
  margin-bottom: 2vh;
  width:100%;
  
}

.app-bg-text{
  background: url("./blue_txt.png");
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  height:7vh;
  text-align: center;
  padding-top:1vh;
  padding-bottom: 1vh;
  font-size:3rem;
}

.app-bg-score__blue{
  background: url("./blue_bg.png");
  background-size: cover;
  background-position: center;
  width:100%;
  height:7vh;
  text-align: right;
  
  padding-top:1vh;
  padding-bottom: 1vh;
  font-size:3.5rem;
  color:white;
    
}

.app-bg-score__red{
  background: url("./red_bg.png");
  background-size: cover;
  background-position: center;
  width:100%;
  height:7vh;
  text-align: right;
  
  padding-top:1vh;
  padding-bottom: 1vh;
  font-size:3.5rem;
  color:white;
}

.app-player{

  text-align: center;
  font-size:3.5rem;
  color:white;
}

.padding-left{
  padding-left:5%;
  padding-right:5%;
  padding-top:5%;
  padding-bottom:5%;
}





